.altcolor {
border: 1px solid #262b5e;
border-radius: 8px;
padding: 2px;
}

.h2d {
border: 2px solid #a6cb5e;
border-radius: 8px;
padding: 2px;
}

h6{ display: inline; font-size:100%; font-style:italic; }
h5{ display: inline; font-size:100% }
h4{ display: inline;  }

body{padding:10px;  margin-left: 10% ; margin-right: 10% }

.bordered {border: ridge 3px;}
.withmargins{padding:10px;  margin-left: 10% ;
margin-right: 10% }

ul{line-height: 135%}

H1,H2,H3,H4,H5,H6/*,P,CENTER,TD,TH,UL,DL,DIV */{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	background-color: #FFFFDE;
}
H1 {
/*	text-align: center;*/
       font-size: 160%;
}
H2 {
       font-size: 120%;
}
H3 {
       font-size: 100%;
}

dl.section { font-weight: bold }

div.headertitle { font-size: 120%;
                font-weight: bold }

CAPTION { font-weight: bold }

A:hover { text-decoration: none; background-color: #f2f2ff }
DL.el { margin-left: -1cm }

a {
	color: #252E78;
}
a:visited {
	color: #3D2185;
}
HR {/* height: 1px;
     border: none;
     border-top: 1px solid black;*/
width: 80%;
}
BODY {
/*font-family: "Lucida Grande", "Lucida Sans Unicode", "Verdana", "Geneva", sans-serif;*/
background-color: #FFFFDE;
	margin-right: 10%;
	margin-left: 10%;
}


/*For the tree controls */
.trigger{
	cursor: pointer;
	cursor: hand;
}
.branch{
	display: none;
	margin-left: 32px;
}
dd {font-weight: normal}
